@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sora:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #007BFF;
    --turquoise: #11D1D4;
    --salmon: #FF6F61;
    --black: #1F1F1F;
    --white: #FFF;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    background-image: url('../../../images/wallpapers/wallpaper_login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logotipo {
    font-size: 30px;
    font-weight: 600;
    font-family: Sora;

    display: flex;
    flex-direction: row;

    margin-top: 25px;
    margin-left: 45px;
}

.logotipo .code {
    color: var(--blue);
}

a .logotipo {
    color: var(--black);
}

a {
    text-decoration: none;
}

main,
form {
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    justify-content: center;
    height: 90vh;
}

h1 {
    color: #1F1F1F;
    font-family: Sora;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    /* 82.5% */
    margin-bottom: 9px;
}

.container-main {
    width: 450px;
}

.btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 45px;
    cursor: pointer;
    margin-top: 30px;

    color: #1F1F1F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;

    transition: .5s;
}

.btn-google:hover {
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--white);
}

/* Estilos para o campo de entrada */
.custom-input,
.btn-google {
    border-radius: 8px;
    border: 2px solid rgba(201, 203, 218, 0.77);
    background-color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    transition: .5s;
}

.custom-input {
    padding: 0 18px;
    height: 41px;
    outline: none;
    margin-bottom: 6px;
}

.custom-input::placeholder{
    color: rgba(201, 203, 218, 0.77);
}

.custom-input:focus {
    border: 2px solid var(--blue);
}

input[type="submit"] {
    border-radius: 8px;
    border: 2px solid #007BFF;
    background: #007BFF;
    height: 45px;
    font-family: Poppins;
    color: var(--white);
    cursor: pointer;
    margin-top: 20px;
}

form {
    margin-top: 35px;
}

form a {
    align-self: flex-end;
}

form .link-register {
    margin: auto;
    margin-top: 15px;

    color: #1F1F1F;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
}

form .link-register a,
.recover-password {
    text-decoration: none;
    color: #007BFF;
    font-weight: 600;
}

.recover-password {
    font-size: 12px;
    line-height: 33px;
    margin-bottom: 14px;
}

form label {
    color: #1F1F1F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}


/* teste da senha */

.password-input {
    padding-right: 30px;
}

#toggleBtn {
    background-color: var(--white);
    border: none;

    position: relative;
    top: -175px;
    right: -90%;
    cursor: pointer;
}

.school {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;
}

.school-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 530px) {
    .container-main {
        width: 85%;
    }

    .logotipo {
        margin-top: 25px;
        margin-left: 7.5%;
    }

    #toggleBtn {
        background-color: var(--white);
        border: none;

        position: relative;
        top: -175px;
        right: -86%;
        right: -86%;
        cursor: pointer;
    }

    .school {
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    
    .school-column {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

body::-webkit-scrollbar {
    width: 5px;
    z-index: -1;
    overflow: scroll;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 0px;
    border: 1px solid transparent;
    z-index: -1;
}

select {
    padding-right: 50px;
    /* Adiciona espaço para a seta customizada */
}
