@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sora:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #007BFF;
    --turquoise: #11D1D4;
    --salmon: #FF6F61;
    --black: #1F1F1F;
    --white: #FFF;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    background-color: #F7F8FA;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    box-sizing: border-box;
}

nav.menu-lateral {
    /*width: 250px;*/
    width: 58px;
    height: 80%;
    background-color: var(--white);
    padding: 40px 0;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 3px 8px 0px rgba(219, 228, 248, 0.5);

    position: fixed;
    top: 5%;
    left: 0;

    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral:hover {
    width: 200px;
}

.btn-expandir {
    width: 100%;
    padding-left: 18px;
}

.btn-expandir > i {
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 5px;
    margin-left: 8px;
    
    display: flex;
    align-items: center;
}

ul li.item-menu a span.txt-link{
    margin-left: 18px;
}

ul li.item-menu a span.icon > i{
    font-size: 24px;
}

ul li.item-menu {
    transition: .3s;
    margin: 5px 5px;
    border-radius: 5px;
}

ul li.item-menu:hover, #activate {
    background-color: #CFE6FF;
    color: #0256AF;
}

ul li.item-menu a:hover {
    color: #0256AF;
}




/* a partir daqui não tem nada da navbar */
main {
    padding: 0 8%;
}